@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#clockContainer {
    height: 500px;
    width: 500px;
    margin: auto;
    background: url("/—Pngtree—black\ clock\ no\ hand_6848549.png") no-repeat;
    background-size: 100%;
    /* border: 1px solid black; */
    position: relative;
}

#hour,
#minute,
#second, #circle {
    position: absolute;
    background: black;
    border-radius: 20px;
    transform-origin: bottom;
}

#circle
{
    width: 20px;
    height: 20px;
    top: 48.5%;
    left: 48%;
}

#hour {
    width: 1.2%;
    height: 20%;
    top: 30%;
    left: 49.5%;
    /* opacity: 0.5; */
}

#minute {
    width: 1%;
    height: 25%;
    top: 25%;
    left: 49.6%;
    /* opacity: 0.5; */
}

#second {
    width: 0.8%;
    height: 28%;
    top: 23%;
    left: 49.7%;
    /* opacity: 0.5; */
}